body{
    background-image: url(img/haha.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 0;

}

.container{
    width: 80%;
    margin: 0 auto;

}

header {
    background-color: rgba(0, 0, 0, 0.5);
}

header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    width: 75px;
    height: 75px;
    padding-bottom: 5px;
}

nav{
    float: right;
}

nav ul {
    margin : 0;
    padding : 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

nav a:hover {
    color : rgb(128, 0, 42);
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(128, 0, 42);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav a:hover::before {
    width: 100%;
}

.form-box{
    width: 500px;
    background: rgba(0, 0, 0, 0.8);
    margin : 12% auto;
    padding : 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.5);
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

.input-name {
    margin : 31px auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(169, 169, 169);
}

.input-name input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder {
    color: #ccc;
}

.tacbox {
    margin: 2em;
    background-color: transparent;
    max-width: 800px;
}

input {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.submit-btn {
    margin: 50px auto 20px;
    width: 80%;
    display: block;
    outline : none;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.7s ease;
}

.submit-btn:hover{
    transform: scale(1.1) ;
    color:black;
    background-color: #ccc;
}

.foot {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer {
    background-color: rgb(128, 0, 42);
}

a {
    text-decoration: none;
}
#checkbox {
    cursor: pointer;
}